.box1 {
  border: solid black 5px;
  margin: auto;
  width: 70%;
  padding: 1%;
  background-color: slategray;
}

.box2 {
  border: solid black 5px;
  margin: auto;
  width: 70%;
  padding: 1%;
  background-color: cornsilk;
}

body {
  background-color: blanchedalmond;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

button {
  background-color: cornsilk;
}

img {
  float: right;
  width: 65%;
  margin: 2%;
}

.rightimg {
  float: right;
  width: 14%;
  margin: auto;
}

.leftimg {
  float: left;
  width: 14%;
  margin: auto;
}